/*place global styles here */
html, body { @apply h-full overflow-hidden; }

body {
	background-image:
		radial-gradient(at 0% 0%, rgba(var(--color-secondary-500) / 0.33) 0px, transparent 50%),
		radial-gradient(at 98% 1%, rgba(var(--color-success-500) / 0.33) 0px, transparent 50%);
}